main {
    max-width: 1400px;
}

html {
    --color_1: #000000; 
    --color_2: #FFFFFF;
    --overskrift_1: 200px;
    --overskrift_2: 104px;
    --overskrift_3: 1.563rem;
  }



h1 {
    font-size: var(--overskrift_1);
    color: var(--color_2);
    font-family: nimbus-sans-condensed, sans-serif;
    font-weight: 900;
    font-style: italic;
  }

h2 {
    font-size: var(--overskrift_2);
    color: var(--color_2);
    font-family: nimbus-sans-condensed, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 83.4px;
    letter-spacing: 0;

  }
  
h3 {
    font-size: var(--overskrift_3);
    color: var(--color_2);
    font-family: nimbus-sans-condensed, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-style: normal;
  }

  p {
    /* font-size: var(--overskrift_1); */
    color: var(--color_2);
    font-family: granville,serif;
    font-weight: 400;
    font-style: normal;
  }