main {
    max-width: 1400px;
    margin: 0 auto;
}

html {
    --color_1: #000000; 
    --color_2: #FFFFFF;
    --overskrift_1: 18vw;
    --overskrift_2: 5.9vw;
    --overskrift_3: 100px;
  }



h1 {
    font-size: var(--overskrift_1);
    color: var(--color_2);
    font-family: nimbus-sans-condensed, sans-serif;
    font-weight: 900;
    font-style: italic;

    margin-top: 0;
    margin-bottom: 10px;
  }

h2 {
    font-size: var(--overskrift_2);
    color: var(--color_2);
    font-family: nimbus-sans-condensed, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 83.4px;
    letter-spacing: 0;

    margin-bottom: 10px;
    margin-top: 80px;
  }
  
h3 {
    font-size: var(--overskrift_3);
    color: var(--color_2);
    font-family: nimbus-sans-condensed, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-style: normal;
  }

  p {
    font-size: 1vw;
    color: var(--color_2);
    font-family: granville,serif;
    font-weight: 400;
    font-style: normal;
  }